:root {
  margin: 50px;
}

.container {
  display: flex;
  justify-content: center;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.player-board,
.computer-board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
}

.player-board > *,
.computer-board > * {
  border-style: solid;
  border-width: 1px;
  font-size: 2rem;
  text-align: center;
}

.computer-square:hover {
  cursor: pointer;
}
