:root {
  margin: 50px;
}

.container {
  display: flex;
}

.ship-menu {
  width: 400px;
}

.ships {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: space-around;
}

[draggable="true"] {
  box-sizing: border-box;
  border-style: solid;
  width: 40px;
  color: blue;
  transition: transform 0.5s;
}

.rotated {
  transform: rotate(90deg);
}

.ships > *:hover {
  cursor: pointer;
  background-image: url(./rotate.svg);
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
}

.destroyer {
  height: 80px;
}

.submarine,
.cruiser {
  height: 120px;
}

.battleship {
  height: 160px;
}

.carrier {
  height: 200px;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.player-board,
.computer-board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
}

.player-board > *,
.computer-board > * {
  border-style: solid;
  border-width: 1px;
  font-size: 2rem;
  text-align: center;
}

.player-board {
  margin-left: 100px;
}

.computer-board {
  visibility: hidden;
}

.computer-board > * {
  visibility: inherit;
}

.computer-square:hover {
  cursor: pointer;
}
